/* General CSS */
:root {
  --brown: #605243;
  --green: #A5A58D;
  --cream: #FFF1E6;
  --umber: #A06340;
  --orange: #AF6B46;
}
* {
  color:var(--brown);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #FFF1E6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
header {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
}

#name {
  padding-left: 10%;
}

/* Nav */
nav {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  width: 40%;
  justify-content:space-evenly;
}

/* Banner */
.hero-banner {
  height: 20vh;
  width: 100%;
  background-image: url(../images/teak.png);
  background-size: cover;
  background-position:100%;
}

#desc {
  color: var(--cream);
  align-self: center;
  padding: 3%;
}

/* Main */
.page-section {
  margin-bottom: 3vh;
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 19% 2% 79%;
  grid-template-rows: 100% ;
  grid-gap: 10px;
  grid-column-end: auto;
  grid-template-areas: 
  "about about"
  "work work"
  "contact contact";
}
#about {
  grid-area: about;
}
#work {
  grid-area: work;
}
#contact {
  grid-area: contact;
}
.vl {
  border-left: 5px solid var(--brown);
}

.title {
margin-left: auto;
margin-right: auto;
}

/* About Me */

#words {
  width: 80%;
  height: auto;
}

/* Work */
#work {
  grid-area: work;
}

#work-grid {
  width: 90%;
  display: grid;
  grid-template-rows: 60vh 20vh 20vh;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(5vh, auto);
  grid-auto-columns: minmax(3vh, auto);
  grid-template-areas: 
  "access access" 
  "gift g-clone"
  "barber pre";
}

.cell {
  background-repeat: no-repeat;
  background-size:100% ;
  height: auto;
  border: 4px solid var(--brown);
}

#access {
  grid-area: access;
  background-image: url(../images/access.png);
}

#gift {
  grid-area: gift;
  background-image: url(../images/gift-cover.jpg);
}

#g-clone {
  grid-area: g-clone;
  background-image: url(../images/google.png);
}

#barber {
  grid-area: barber;
  background-image:url(../images/barber.jpeg) ;
}

#pre {
  grid-area: pre;
  background-image:url(../images/prework.png) ;
}

#access a,#gift a, #g-clone a, #barber a, #pre a {
color: var(--cream);
background-color: var(--brown);
padding: 5px;
}

/* Contact */
#contact {
  grid-area: contact;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}